#wrapper {
  width: 300px;
  margin: 0 auto;
  border: 2px solid black;
  padding: 5px; }
  #wrapper h1 {
    color: #7c380a;
    padding-left: 5px; }
  #wrapper .input,
  #wrapper #output {
    background-color: #284a6b;
    height: 30px;
    width: 100%;
    box-sizing: border-box;
    color: #ffa127;
    vertical-align: middle;
    padding-left: 10px;
    padding-top: 5px; }
  #wrapper .input {
    border: 1px solid #aacafe; }
  #wrapper form div {
    text-align: center; }
  #wrapper .button {
    background-color: white;
    border: 1px solid black;
    padding: 10px 20px;
    margin: 20px 0; }
  #wrapper #output {
    font-size: 1.2em; }

